# Only source code goes to the repository.
# Build files, binaries and IDE files are ignored.

*~
*.7z
*.a
aclocal.m4
*.app
.AppleDouble
atlassian-ide-plugin.xml
autom4te.cache/
*.bak
*.bin
build/
Build/
BUILD/
.cache/
*.class
cmake-build-*/
CMakeCache.txt
CMakeFiles/
*.cmake.user
com_crashlytics_export_strings.xml
compile_commands.json
config.log
config.status
configure
.coverage
coverage.xml
crashlytics-build.properties
crashlytics.properties
*.d
*.db
Debug/
DerivedData/
Desktop.ini
dist/
*.dll
*.docx
.DS_Store
*.dylib
*.ear
*.egg
*.egg-info/
.eggs/
ehthumbs.db
*.elf
env/
ENV/
*.exe
fabric.properties
*.filters
*.gch
.history
.history/
htmlcov/
*.idb
.idea/
*.iml
.ionide
*.ipa
ipch/
*.ipr
*.iws
*.jar
*.la
*.lai
*.lib
libtool
*.lo
*.log
.LSOverride
m4/
*.make
makefile
Makefile
*.mod
modules.xml
.mypy_cache/
*.ninja
.ninja_deps
.ninja_log
*.o
*.obj
*.opendb
*.out
out/
*.pch
*.pdb
*.pdf
pip-wheel-metadata/
*.pyc
*.pyc.*
__pycache__/
*.py,cover
*.pyd
*.pyo
.pytest_cache/
.python-version
*.rar
Release/
*.sln
*.slo
*.smod
*.so
*.swo
*.swp
*.tar
target/
*.tar.gz
*.temp
temp/
*.tgz
Thumbs.db
*.tlog
*.tmp
tmp/
*.user
*.vcxproj*
.venv/
venv/
.vs/
.vscode/
*.vsix
*.war
*.wav
*.Wav
*.WAV
*.xcodeproj/
*.xcuserdata/
*.xcuserstate
*.xcworkspace/
*.zip
